body {
 
}

button {
    background-color: #3498db; /* Initial background color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition to background color */
}

/* Change the background color on hover */
button:hover {
    background-color: #e74c3c; /* New background color on hover */
}

