body {
 
}

button {
    background-color: #3498db; /* Initial background color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition to background color */
}

/* Change the background color on hover */
button:hover {
    background-color: #e74c3c; /* New background color on hover */
}

/* Loader styles */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 6px solid #3498db;
    border-top: 6px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Use the 'spin' animation */
}

/* Content styles */
.content {
    display: none; /* Initially hide the content */
    text-align: center;
    padding: 20px;
}

/* Animation keyframes */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Show content after 2 seconds */
.loader-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    animation: fadeIn 2s; /* Use the 'fadeIn' animation */
}

@keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
